/* Pushes the form down from the navbar */
.navbar {
  margin-bottom: 100px;
}

.history-heading {
  color: #C5B358;

}

.carousel {
  border: solid 5px #808080;
}

.restaurant-history {
  color: white;
  font-size: 1.5rem;
  line-height: 1.8;
  border: solid 5px #C5B358;
}

.tree-img {
  height: 400px;
}