<!DOCTYPE html>
<html lang="en" dir="ltr">
<head th:insert="fragments/common :: head(menu)"></head>

<body>
  <header th:replace="fragments/common :: header"></header>
  <div th:replace="fragments/common :: navbar"></div>
	  <!-- Menu Content -->
        <section>
          <div class="container-fluid h-100">
            <div class="row">
              <div class="col-12 menu-bar">
                <span>Menu Items</span>
              </div>
            </div>
            <div class="row row-menu-column text-center menu-items justify-content-md-center">
              <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="card" style="width: 90%;">
                  <img src="images/riccardo-bergamini-O2yNzXdqOu0-unsplash.jpg" class="card-img-top" alt="Sushi-Boat">
                  <div class="card-body">
                    <h5 class="card-title">Sushi Boat</h5>
                    <h5 class="card-title">寿司</h5>
                    <h5 class="card-title">$30.00</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="card" style="width: 90%;">
                  <img src="images/masaaki-komori-2TjDelq95rc-unsplash.jpg" class="card-img-top" alt="Ramen">
                  <div class="card-body">
                    <h5 class="card-title">Miso Ramen</h5>
                    <h5 class="card-title">ラーメン</h5>
                    <h5 class="card-title">$10.00</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="card" style="width: 90%;">
                  <img src="images/pexels-rajesh-tp-2098131.jpg" class="card-img-top" alt="Soba">
                  <div class="card-body">
                    <h5 class="card-title">Soba Plate</h5>
                    <h5 class="card-title">蕎麦</h5>
                    <h5 class="card-title">$12.00</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="card" style="width: 90%;">
                  <img src="images/pexels-bishop-tamrakar-3926122.jpg" class="card-img-top" alt="Gyoza">
                  <div class="card-body">
                    <h5 class="card-title">Gyoza</h5>
                    <h5 class="card-title">餃子</h5>
                    <h5 class="card-title">$7.99</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="card" style="width: 90%;">
                  <img src="images/youjeen-cho-1zlLiOT81Jw-unsplash.jpg" class="card-img-top" alt="Udon">
                  <div class="card-body">
                    <h5 class="card-title">Udon</h5>
                    <h5 class="card-title">うどん</h5>
                    <h5 class="card-title">$9.99</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="card" style="width: 90%;">
                  <img src="images/charles-deluvio-BYgDxSJBqJw-unsplash.jpg" class="card-img-top" alt="Tonkatsu">
                  <div class="card-body">
                    <h5 class="card-title">Tonkatsu</h5>
                    <h5 class="card-title">豚カツ</h5>
                    <h5 class="card-title">$12.99</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="card" style="width: 90%;">
                  <img src="images/8-low-ural-hdfIOjp8ABE-unsplash.jpg" class="card-img-top" alt="Oyakodon">
                  <div class="card-body">
                    <h5 class="card-title">Oyakodon Bowl</h5>
                      <h5 class="card-title">親子丼</h5>
                    <h5 class="card-title">$13.00</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="card" style="width: 90%;">
                  <img src="images/jongsun-lee-JnFGgVaFpmE-unsplash.jpg" class="card-img-top" alt="Sashimi">
                  <div class="card-body">
                    <h5 class="card-title">Sashimi Platter</h5>
                      <h5 class="card-title">刺身</h5>
                    <h5 class="card-title">$30.00</h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 menu-bar">
                <span>Beverages</span>
              </div>
            </div>
            <div class="row row-menu-column text-center menu-beverage justify-content-md-center">

              <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="card" style="width: 90%;">
                  <img src="images/alana-harris-C63YZ33DdvY-unsplash.jpg" class="card-img-top" alt="Green Tea">
                  <div class="card-body">
                    <h5 class="card-title">Matcha</h5>
                      <h5 class="card-title">抹茶カプチーノ</h5>
                    <h5 class="card-title">$5.99</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="card" style="width: 90%;">
                  <img src="images/roger-cai-anbKxh-NsFI-unsplash.jpg" class="card-img-top" alt="Sake">
                  <div class="card-body">
                    <h5 class="card-title">Sake Bottle</h5>
                    <h5 class="card-title">日本酒</h5>
                    <h5 class="card-title">$10.00</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="card" style="width: 90%;">
                  <img src="images/melon-soda-4431112_1920.jpg" class="card-img-top" alt="Melon Soda">
                  <div class="card-body">
                    <h5 class="card-title">Melon Soda</h5>
                    <h5 class="card-title">メロンソーダ</h5>
                    <h5 class="card-title">$4.00</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="card" style="width: 90%;">
                  <img src="images/beer-2439237_1920.jpg" class="card-img-top" alt="Beer">
                  <div class="card-body">
                    <h5 class="card-title">Beer</h5>
                      <h5 class="card-title">ビール</h5>
                    <h5 class="card-title">$7.00</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="card" style="width: 90%;">
                  <img src="images/tina-witherspoon-po_OaHERAV8-unsplash.jpg" class="card-img-top" alt="Oolong Tea">
                  <div class="card-body">
                    <h5 class="card-title">Oolong Tea</h5>
                      <h5 class="card-title">ウーロン茶</h5>
                    <h5 class="card-title">$5.00</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="card" style="width: 90%;">
                  <img src="images/guy-basabose-FzdEbrA3Qj0-unsplash.jpg" class="card-img-top" alt="Cappucino">
                  <div class="card-body">
                    <h5 class="card-title">Capuccino</h5>
                    <h5 class="card-title">渋川カプチーノ</h5>
                    <h5 class="card-title">$5.00</h5>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
        <!-- End of Menu Content -->
 
  <footer th:replace="fragments/common :: footer"></footer>
  <script th:replace="fragments/common :: jquery"></script>
   <script th:replace="fragments/common :: bundle"></script>
</body>

</html>